body {
  margin: 0px;
}

canvas {
background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR46Q10pb6kNioOtWnUtfCY7ydd9kHoIR9pQQ&usqp=CAU");
background-image: no-repeat;
background-size: 50%;

}
img {
  display: none;
}
